# clang-tidy 13
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: '
    bugprone-*,
    cppcoreguidelines-*, -cppcoreguidelines-pro-type-reinterpret-cast,
    modernize-*,-modernize-use-trailing-return-type,
    performance-*,
    readability-*,
'
