svg.railroad-diagram {
    background-color: rgba(0, 0, 0, 0);
}

svg.railroad-diagram path {
    stroke-width: 2;
    stroke: #000000;
    fill: rgba(0, 0, 0, 0);
}

svg.railroad-diagram text {
    font-weight: bold;
    font-size: 14px;
    font-family: "Fira Code", "Fira Mono", monospace;
    text-anchor: middle;
}

svg.railroad-diagram text.label {
    text-anchor: start;
}

svg.railroad-diagram text.comment {
    font-size: 12px;
    font-family: "Fira Code", "Fira Mono", monospace;
    text-anchor: middle;
}

svg.railroad-diagram rect {
    stroke-width: 2;
    stroke: #000000;
    fill: #eeeeee;
}

svg.railroad-diagram rect.group-box {
    stroke: #808080;
    stroke-dasharray: 10 5;
    fill: none;
}
